@media (max-width: 768px) {
    body {
        width: 375px;
        margin: 0 auto;
    }

    main {
        grid-template-columns: minmax(auto, 375px); 
        grid-template-rows: repeat(3, auto); 
        grid-template-areas: "header" "image" "Content-main"; 
    }

    .image-logo {
        padding: 31px 32px;
    }

    .image-logo img {
        width: 100px;
        height: auto;
    }
    
    .container-main {
        width: 311px;
        height: auto;
        text-align: center;
        margin: 64px auto 92px;
    }
    
    .container-main .title {
        font-size: 40px;
    }
    
    .container-main .description {
        font-size: 14px;
        margin-top: 16px;
    }

    .container-main .form {
        margin-top: 32px;
    }

    .container-main .form .form-control input {
        height: 48px;
        padding-left: 24px;
        font-size: 14px;
    }

    .container-main .form .form-control button {
        width: 64px;
        height: 48px;
    }

    .error-icon {
        top: 13px;
        right: 72px;
    }

    .warning {
        margin: 8px 0 0 25px;
        text-align: left;
    }
}