@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

body {
    max-width: 1440px;
    min-height: 100vh;
    background-image: linear-gradient( 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-family: 'Josefin Sans', sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto minmax(auto, 610px); 
    grid-template-rows: auto 1fr; 
    grid-template-areas: "header image" "Content-main image"; 
}
    
.image-logo {
    grid-area: header;
    padding: 65px 165px;
}

.image-picture {
    grid-area: image;
}

.image-picture .image-picture-content {
    width: 100%;
    height: auto;
}

.image-picture .image-picture-content img {
    width: 100%;
    height: auto;
}

.container-main {
    grid-area: Content-main;
    width: 444px;
    height: 368px;
    margin: 61px auto 0;
}

.container-main .title {
    font-size: 64px;
    font-weight: 300;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 17px;
}

.container-main .title span {
    color: var(--neutral-color);
    font-weight: 600;
}

.container-main .description {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    margin-top: 32px;
}

.container-main #form {
    position: relative;
    margin-top: 40px;
}

.container-main #form .form-control input {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    border: 1px solid var(--primary-color);
    padding-left: 32px;
    font-weight: 400;
    font-size: 16px;
}

input::placeholder {
    color: var(--primary-color);
}

.container-main #form .form-control button {
    width: 100px;
    height: 56px;
    border-radius: 28px;
    border: none;
    background-image: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
    cursor: pointer;
}

.container-main #form .form-control button:active {
    opacity: 0.5;
}

.error-icon {
    display: none;
    position: absolute;
    top: 17px;
    right: 116px;
}

.warning {
    color: var(--secundary-color);
    margin: 4px 0 0 32px;
    font-size: 13px;
    font-weight: 400;
    display: none;
}

/* Validação do e-mail */

.container-main #form .form-control.invalid input {
    border: 1px solid var(--secundary-color);
}

.container-main #form .form-control.invalid .error-icon {
    display: block;
}

.container-main #form .form-control.invalid .warning{
    display: block;
}

/* .container-main #form .form-control.enabled input {
    border: 1px solid lime;
} */