@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

body {
    max-width: 1440px;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto minmax(auto, 610px); 
    grid-template-rows: auto 1fr; 
    grid-template-areas: "header image" "Content-main image"; 

}
    
.image-logo {
    background-color: cornflowerblue;
    grid-area: header;
    /* grid-column: 1 / 1; */
    /* grid-row: 1 / 1; */
    padding: 65px 165px;
}

.image-picture {
    grid-area: image;
    background-color: darkmagenta;
    /* grid-column: 2/ 2; */
    /* grid-row: 1 / 2; */
}

.image-picture .image-picture-content {
    width: 100%;
    height: auto;
}

.container-main {
    grid-area: Content-main;
    /* grid-column: 1 / 1; */
    /* grid-row: 2 / 2; */
    width: 444px;
}

.container-main .title {
    font-size: 64px;
    font-weight: 300;
    color: var(--primary-colo);
    text-transform: uppercase;
}

.container-main .title span {
    color: var(--neutral-color);
    font-weight: 600;
}

.container-main .description {
    /* background-color: red; */
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-colo);
}